.page.login .logo {

    height: 64px;
    width: 64px;
    background: url('/anim.png')
  0px 0px;
    animation: play 0.8s steps(4) infinite;
}
@keyframes play {
  100% {
    background-position: -256px;
  	}
	}
